In [2]:
import pandas as pd

df = pd.read_csv('loan.csv')
df.columns

C:\Users\lcsan\AppData\Local\Temp\ipykernel_22252\3950545279.py:3: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan.csv')

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [4]:
len(df.columns)

145

In [6]:
all_nan_cols = df.columns[df.isna().all()].tolist()
print(all_nan_cols)

['id', 'member_id', 'url']

In [14]:
pd.set_option('display.max_rows', 150)
summary = pd.DataFrame({
    'unique_count': df.nunique(),
    'dtype': df.dtypes,
    'no_of_nulls': df.isna().sum()
})
summary

                                            unique_count    dtype  no_of_nulls
id                                                     0  float64      2260668
member_id                                              0  float64      2260668
loan_amnt                                           1572    int64            0
funded_amnt                                         1572    int64            0
funded_amnt_inv                                    10057  float64            0
term                                                   2   object            0
int_rate                                             673  float64            0
installment                                        93296  float64            0
grade                                                  7   object            0
sub_grade                                             35   object            0
emp_title                                         512694   object       166969
emp_length                                            11   object       146907
home_ownership                                         6   object            0
annual_inc                                         89368  float64            4
verification_status                                    3   object            0
issue_d                                              139   object            0
loan_status                                            9   object            0
pymnt_plan                                             2   object            0
url                                                    0  float64      2260668
desc                                              124500   object      2134603
purpose                                               14   object            0
title                                              63154   object        23326
zip_code                                             956   object            1
addr_state                                            51   object            0
dti                                                10845  float64         1711
delinq_2yrs                                           37  float64           29
earliest_cr_line                                     754   object           29
inq_last_6mths                                        28  float64           30
mths_since_last_delinq                               173  float64      1158502
mths_since_last_record                               129  float64      1901512
open_acc                                              91  float64           29
pub_rec                                               43  float64           29
revol_bal                                         102251    int64            0
revol_util                                          1430  float64         1802
total_acc                                            152  float64           29
initial_list_status                                    2   object            0
out_prncp                                         364399  float64            0
out_prncp_inv                                     377353  float64            0
total_pymnt                                      1608307  float64            0
total_pymnt_inv                                  1299089  float64            0
total_rec_prncp                                   487427  float64            0
total_rec_int                                     629835  float64            0
total_rec_late_fee                                 17991  float64            0
recoveries                                        127920  float64            0
collection_recovery_fee                           140449  float64            0
last_pymnt_d                                         135   object         2426
last_pymnt_amnt                                   692560  float64            0
next_pymnt_d                                         105   object      1303607
last_credit_pull_d                                   140   object           73
collections_12_mths_ex_med                            16  float64          145
mths_since_last_major_derog                          183  float64      1679893
policy_code                                            1    int64            0
application_type                                       2   object            0
annual_inc_joint                                   17633  float64      2139958
dti_joint                                           4018  float64      2139962
verification_status_joint                              3   object      2144938
acc_now_delinq                                         9  float64           29
tot_coll_amt                                       15574  float64        70276
tot_cur_bal                                       487688  float64        70276
open_acc_6m                                           19  float64       866130
open_act_il                                           54  float64       866129
open_il_12m                                           19  float64       866129
open_il_24m                                           31  float64       866129
mths_since_rcnt_il                                   405  float64       909924
total_bal_il                                      162249  float64       866129
il_util                                              280  float64      1068850
open_rv_12m                                           29  float64       866129
open_rv_24m                                           50  float64       866129
max_bal_bc                                         33726  float64       866129
all_util                                             188  float64       866348
total_rev_hi_lim                                   34220  float64        70276
inq_fi                                                33  float64       866129
total_cu_tl                                           62  float64       866130
inq_last_12m                                          48  float64       866130
acc_open_past_24mths                                  57  float64        50030
avg_cur_bal                                        88597  float64        70346
bc_open_to_buy                                     91500  float64        74935
bc_util                                             1494  float64        76071
chargeoff_within_12_mths                              11  float64          145
delinq_amnt                                         2617  float64           29
mo_sin_old_il_acct                                   566  float64       139071
mo_sin_old_rev_tl_op                                 787  float64        70277
mo_sin_rcnt_rev_tl_op                                333  float64        70277
mo_sin_rcnt_tl                                       232  float64        70276
mort_acc                                              47  float64        50030
mths_since_recent_bc                                 546  float64        73412
mths_since_recent_bc_dlq                             177  float64      1740967
mths_since_recent_inq                                 26  float64       295435
mths_since_recent_revol_delinq                       179  float64      1520309
num_accts_ever_120_pd                                 44  float64        70276
num_actv_bc_tl                                        42  float64        70276
num_actv_rev_tl                                       57  float64        70276
num_bc_sats                                           60  float64        58590
num_bc_tl                                             76  float64        70276
num_il_tl                                            122  float64        70276
num_op_rev_tl                                         81  float64        70276
num_rev_accts                                        117  float64        70277
num_rev_tl_bal_gt_0                                   50  float64        70276
num_sats                                              91  float64        58590
num_tl_120dpd_2m                                       7  float64       153657
num_tl_30dpd                                           5  float64        70276
num_tl_90g_dpd_24m                                    34  float64        70276
num_tl_op_past_12m                                    33  float64        70276
pct_tl_nvr_dlq                                       690  float64        70431
percent_bc_gt_75                                     284  float64        75379
pub_rec_bankruptcies                                  12  float64         1365
tax_liens                                             42  float64          105
tot_hi_cred_lim                                   529972  float64        70276
total_bal_ex_mort                                 212777  float64        50030
total_bc_limit                                     20309  float64        50030
total_il_high_credit_limit                        194137  float64        70276
revol_bal_joint                                    56875  float64      2152648
sec_app_earliest_cr_line                             663   object      2152647
sec_app_inq_last_6mths                                 7  float64      2152647
sec_app_mort_acc                                      23  float64      2152647
sec_app_open_acc                                      67  float64      2152647
sec_app_revol_util                                  1216  float64      2154484
sec_app_open_act_il                                   40  float64      2152647
sec_app_num_rev_accts                                 86  float64      2152647
sec_app_chargeoff_within_12_mths                      22  float64      2152647
sec_app_collections_12_mths_ex_med                    18  float64      2152647
sec_app_mths_since_last_major_derog                  140  float64      2224726
hardship_flag                                          2   object            0
hardship_type                                          1   object      2250055
hardship_reason                                        9   object      2250055
hardship_status                                        3   object      2250055
deferral_term                                          1  float64      2250055
hardship_amount                                     8950  float64      2250055
hardship_start_date                                   26   object      2250055
hardship_end_date                                     27   object      2250055
payment_plan_start_date                               26   object      2250055
hardship_length                                        1  float64      2250055
hardship_dpd                                          34  float64      2250055
hardship_loan_status                                   5   object      2250055
orig_projected_additional_accrued_interest          7313  float64      2252242
hardship_payoff_balance_amount                     10591  float64      2250055
hardship_last_payment_amount                        8795  float64      2250055
disbursement_method                                    2   object            0
debt_settlement_flag                                   2   object            0
debt_settlement_flag_date                             82   object      2227612
settlement_status                                      3   object      2227612
settlement_date                                       89   object      2227612
settlement_amount                                  21519  float64      2227612
settlement_percentage                               2045  float64      2227612
settlement_term                                       40  float64      2227612